<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <script defer src="/script.js"></script>
  <title>Home</title>
</head>
<body>
  <div class="home-container">

  <div class="message-board">
    <% if (locals.currentUser) {%>
      <p>this is home page</p>
      <button class="newFolderBtn">
        New Folder
      </button>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="upload">Upload file:</label>
        <input type="file" id="upload" name="upload">
        <input type="submit" value="Upload">
      </form>
    <% } else { %>
      <h1>please log in</h1>
      <a href="/">Log In</a>
    <%}%>

    <% if (locals.results) {%>
      <p>results exist</p>
      <% results.folders.forEach((folder) => { %>
        <p>folder name: <%= folder.name %></p>
      <% }) %>
    <%}%>
  </div>

  </div>

  <dialog class="modal" id="modal">
    <form action="/new-folder" method="post">
      <label for="folderName" class="modal-message">New folder</label>
      <input type="text" id="folderName" name="folderName" value="new folder">
      <button type="button" class="cancelBtn">Cancel</button>
      <input type="submit" value="Create" class="createBtn">
    </form>
  </dialog>
</body>
</html>