<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <script defer src="/homeScript.js"></script>
  <title>File Uploader</title>
</head>
<body>
  <div class="home-container">
    <header class="header">Home Page</header>

    <div class="home-layout">
      <aside class="aside">
        <%- include("sidebarHome"); %>
      </aside>

      <main class="main">
        <nav class="navFolders">
          <a href="/home"><%= currentUser.username %></a>
        </nav>
        <div class="foldersFiles">
          <% if (locals.results) {%>
            <div class="folder-container">
              <% results.forEach((folder) => { %>
                <%- include("homeFolders", {folder: folder}); %>
              <% }) %>
            </div>
          <%}%>

          <% if (locals.files) {%>
            <div class="file-container">
              <% files.forEach((file) => { %>
                <%- include("homeFiles", {file: file}); %>
              <%})%>
            </div>
          <%}%>
        </div>
      </main>
    </div>
    
  </div>

  <dialog class="newfolderModal" id="newfolderModal">
    <form action="/new-folder" method="post">
      <label for="folderName" class="modal-message">New folder:</label>
      <input type="text" id="folderName" name="folderName" value="new folder">
      <button type="button" class="cancelNewFolderBtn">Cancel</button>
      <input type="submit" value="Create" class="createBtn">
    </form>
  </dialog>

  <dialog class="newFileModal" id="newFileModal">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="newFile">New file:</label>
      <input type="file" id="newFile" name="newFile">
      <button type="button" class="cancelNewFile">Cancel</button>
      <input type="submit" value="Upload" class="confirmNewFile">
    </form>
  </dialog>
</body>
</html>