<div class="sidebarButtons">
    <button class="newFolderBtn">
        New Folder
    </button>
    <button class="uploadBtn">
        New file
    </button>
    <button class="renameBtn">
        Rename
    </button>
    <button class="deleteFolderBtn">
        Delete Folder
    </button>
</div>
