<div class="sidebarButtons">
    <a href="/download/<%= file.id %>">
        <button class="downloadFileBtn">
            Download
        </button>
    </a>
    
    <button class="deleteFileBtn">
        Delete
    </button>
</div>
