<div class="sidebarButtons">
    <button class="newFolderBtn">
        New Folder
    </button>
    <button class="uploadBtn">
        Upload a file
    </button>
    <button class="deleteFolderBtn">
        Delete Folder
    </button>
</div>
